{% extends "base.html" %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock style %}
{% block title %}Inicial{% endblock title %}

{% block content %}
<div class="container">
  <main>
    <section>
      <div class="calculator">
        {% csrf_token %}
        <div class="display" id="display">0</div>
        <div class="buttons">
          <button data-action="backspace">←</button>
          <button data-action="clear">C</button>
          <button data-value="/">÷</button>

          <button data-value="7">7</button>
          <button data-value="8">8</button>
          <button data-value="9">9</button>
          <button data-value="*">×</button>

          <button data-value="4">4</button>
          <button data-value="5">5</button>
          <button data-value="6">6</button>
          <button data-value="-">-</button>

          <button data-value="1">1</button>
          <button data-value="2">2</button>
          <button data-value="3">3</button>
          <button data-value="+">+</button>

          <button data-value="0">0</button>
          <button data-value=".">.</button>
          <button data-action="equal">=</button>
        </div>
      </div>
    </section>
  </main>

  <aside>
    <div class="history-header">
      <h3><i class="bi bi-clock-history"></i> Histórico</h3>
      <button id="delete-button" type="button">
        <i class="bi bi-trash3"></i>
      </button>
    </div>
    <div id="history" class="history-items"></div>
  </aside>
</div>
{% endblock content %}

{% block script %}
<script type="module" src="{% static 'js/wrapper.js' %}"></script>
<script type="module" src="{% static 'js/operationHistory.js' %}"></script>
<script type="module" src="{% static 'js/deleteButton.js' %}"></script>
<script type="module" src="{% static 'js/main.js' %}"></script>
{% endblock script %}