{% extends "base.html" %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block style %}
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock style %}

{% block header %}{% endblock header %}

{% block content %}
<main>
  <section class="login">
    <h1>Login</h1>
    <form action="{% url 'login' %}" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Entrar</button>
    </form>
    <a href="{% url 'register' %}">Crie uma conta!</a>
  </section>
</main>
{% endblock content %}